@font-face {
  font-family: 'big_noodle_titling';
  src: url('./Ecritures/big_noodle_titling.ttf'); /* IE9 Compat Modes /
  src: url('font/ChopinScript.otf') format('otf'), / Super Modern Browsers */
}


html {
box-sizing: border-box;
	display: block;
overflow-y: scroll;

}


body {


	width: 100%;
	padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    font-family: 'big_noodle_titling';

}



/*---------------------------NAVBAR----------------------------*/

button, input{
  font-family: 'big_noodle_titling';
  height: 25px;
  vertical-align: middle;
  margin: auto;
  line-height: normal;

}

input {
  width: 200px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;



   	display: inline-block;
    width: 100%;

}

a {
	text-decoration: none;
	display: block;
	margin: auto;
}

li {

	float: left;
	margin: auto;
}

li a {
    display: block;
    padding:0 15px 0 15px;
    text-align: center;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-image: radial-gradient(rgba(0, 0, 0, 1) 1%, rgba(157, 20, 94, 0.01)99% );
    color: gold;

}

a.home {

	font-size: 18px;
	border-right: 1px #d9d9d9 solid;


}
li.panier {

	border-left: 1px #d9d9d9 solid;
	float: right;
	line-height: 38px;
	height: 50px;
	display: flex;
	align-items: center;

}


img.basket {
	margin: auto;
	display: flex;
}

a.moncompte {

	color: white;
	float: right;
	line-height: 30px;
	margin-right: 10px;

}
a.moncompte:hover {
	color: gold;
}

a.inscription{

  color: white;
	float: right;
	line-height: 30px;
	margin-right: 18px;
}

a.connexion{

  color: white;
	float: right;
	line-height: 30px;
	margin-right: 25px;
}


a.commandes{

  color: white;
	float: right;
	line-height: 30px;
	margin-right: 30px;
}

a.deconnexion{

  color: white;
	float: right;
	line-height: 30px;
	margin-right: 25px;
}

#bandeau {
	box-sizing: border-box;
	margin: 0;
	padding: 0 10px 0 10px;
	width: 100%;
	background-color: black;
	height: 30px;
}

#logo {
	height: 30px;
	width: 60px;
}

#navbar {
	margin: 0;
	width: 100%;
  height: 50px;
	line-height: 50px;
	display: flex;
	background: linear-gradient( #000000 , #9d145e 50% , #000000 100% );
	display: block;
	float: right;


}

#searchbar {
	width: auto;
	height: auto;
	padding-right: 10px;
	float: right;



}

#menu li ul {

	border-radius: 0 0 10px 10px;


}

#menu ul{

	position:absolute;
	z-index: 1000;
	max-height:0;
	max-width: 120px;
	right: 0;
	overflow: hidden;
	transition: .3s all .05s;
	display: block;
	background: linear-gradient( #000000 , #9d145e 50% , #000000 100% );

}

#menu li:hover ul{

	max-height:800px;
	border: 1px #d9d9d9 solid;
	border-top: none;
	box-sizing: content-box;



}


#menu li:hover li a{
	color:#ffffff;


}


#menu li ul a:hover {

 color: gold;

}

#menu li ul li a {

	margin: auto;
	min-width: 90px;
}



.plateforme {
	left: 63px;

}

.genre {
	left: 160px;

}

/*------------------------------PANIER--------------------------*/




form#panier {
    display: none;
    position: fixed;

    margin-left: 800px;
    margin-top: 300px;
    width: 350px;
    z-index: 5;
    background-color: rgba(242, 242, 242, 0.80);
    border-radius: 3px;
    border: 1px solid rgb(205, 153, 44);
    padding: 4px 2px 6px 2px;

}




/*-----------------------------SLIDESHOW-------------------------*/

.container {
  width: 100%;
}

.homecontainer {

  position: relative;
  margin-top: 50px;
  width: 100%;
  min-height: 1000px;
  background: linear-gradient( #000000 , #202960 50% , #000000 100% );
  box-sizing: content-box;
}



.carousel {
    display: flex;
  	top: 50px;
    margin-bottom: 100px !important;
    margin: 0 auto;
    width:5%;
    height: 300px;
    position: relative;
    display: relative;


  }
  .carousel img {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
    border: white 1px solid;
    box-shadow: 2px 2px 5px  white;
    border-radius: 3px;
}



/*-----------------------------Second part Home-------------------------*/


.platformlink {

 margin-top: 50px;
 width: 100%;
 height: 300px;
 display: block;


}

.platformlink ul {

  text-align: center;
  display: flex;
  margin: auto ;
  width: 80%;
  margin: auto 10%;

}

.platformlink li {
  display: inline-block;
  float: none;
  width: 150px;
  height: 150px;
  padding: 0;
  color: white;
  margin: 0;
  border-radius: 3px;
  box-sizing: content-box;

}



.platformlink img {

  border: solid 1px #9d145e;
  box-shadow: 2px 2px 5px  #9d145e;
  border-radius: 3px;
  box-sizing: content-box;
}

.platformlink  a {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;
  display: flex;
  box-shadow: 2px 2px 5px  #9d145e;


}

 ul .row {
  display: flex;


  width: 100%;
  margin: 0;
  padding: 0;

}

li.col-sm {
  display: flex;
  width: 150px;
  justify-content: center;
  text-align: center;
}




/*------------------------------footer---------------------------------*/

.footerlimit {

  width: 100%;
  height: 10px;
  background: linear-gradient( #000000 , #9d145e 50% , #000000 100% )

}

.footer {
  position: relative;
  height: 180px;
  width: 100%;
  background-color: black;
  bottom: 0;
  display: flex;
  padding-left: 30px;


}


.footer ul {

  display: inline-block;
  width: 180px ;
  height: 170px ;
  margin: 10px 20px;
  color: white;
}
.footer ul li {

  width: 120px;
  display: block;
  margin: 3px 0;
}

.tete {
  width: 30px;
  border-bottom: white 1px solid;
  margin-bottom: 10px;

}




/*--------------------------forme inscription---------------------------*/


.forme{

  text-align: center;
  margin-top: 8%;
  border: 1px solid rgba(233, 197, 215, 1);
  width: 40%;
  margin-right:auto;
  margin-left: auto;
  background-color:rgba(233, 197, 215, 0.7);
  border-radius: 10%;

}

.msg{

text-align: center;
width: 100%;
}


/*----------------------------------------ERROR PAGE--------------------------------------*/

.erreur img{

	height: 660px;
	width:1345px;
	background-repeat: no-repeat;



}

.erreur{

	position: relative;
	width: 100%;
	height: 100%;

}

.text{
	background-color: dimgrey;
	border-radius: 10%;
	border: 2px solid white;
	height: 45px;
	width: 260px;
	position:absolute;
	left:40%;
	top:78%;

}

a{
	text-align: center;
	color:white;
}



/*----------------------------------------CONNEXION--------------------------------------*/


#connexion{


  background: linear-gradient( #000000 , #202960 50% , #000000 100% );
  margin-top: 11%;
  width: 25%;
  border-radius: 50%;
	color:rgb( 135,18,81 );

  }

  .msg{

  text-align: center;
  width: 100%;

  }
